/* Some basic page styles */
body {
	background-color: #fff;
	font-family: sans-serif;
	margin: 4% 10%;
}

/* Label styles: style as needed */
label {
	display:block;
	margin-top:2em;
	font-size: 0.9em;
	color:#777;
}

.dark-wrapper {
	margin-top: 2em;
	padding: 1em 1em 1em;
	background: #444;
}

.dark-wrapper label {
	margin-top: 0;
	color: #ccc;
}

.custom-select-theme {
	background: #f3f3f3; /* Old browsers */
	background: #fff -webkit-gradient(linear, left top, left bottom, from(#ffffff),to(#e5e5e5));
	background: #fff linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
}