/* Adds Firefox < 35 support */
/* FIREFOX won't let us hide the native select arrow, so we have to make it wider than needed and clip it via overflow on the parent container. The percentage width is a fallback since FF 4+ supports calc() so we can just add a fixed amount of extra width to push the native arrow out of view. We're applying this hack across all FF versions because all the previous hacks were too fragile and complex. You might want to consider not using this hack and using the native select arrow in FF. Note this makes the menus wider than the select button because they display at the specified width and aren't clipped. Targeting hack via http://browserhacks.com/#hack-758bff81c5c32351b02e10480b5ed48e */
/* Show only the native arrow */
@-moz-document url-prefix() {
	/* Warning: this kills the focus outline style */
	.custom-select {
		overflow: hidden;
	}
	.custom-select::after {
		display: block;
	}
	/* Make the native select extra wide so the arrow is clipped. 1.5em seems to be enough to safely clip it */
	.custom-select select {
		overflow: -moz-hidden-unscrollable;
		padding-right: .4em;
		background: none; /* Match-04 */
		border: 1px solid transparent; /* Match-05 */
		/* Firefox < 4 */
		min-width: 6em;
		width: 130%;
		/* Firefox 4-15 */
		min-width: -moz-calc(0em);
		width: -moz-calc(100% + 2.4em);
		/* Firefox 16+ */
		min-width: calc(0em);
		width: calc(100% + 2.4em);
	}

	/* Firefox 35+ that supports hiding the native select can have a proper 100% width, no need for the overflow clip trick */
	@supports ( mask-type: alpha ) {
		.custom-select {
			overflow: visible;
		}
		.custom-select select {
			-moz-appearance: none;
			width: 100%;
			padding-right: 2em; /* Match-01 padding-right */
		}
	}
}

/* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
.custom-select select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

/* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance. Targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */
/* The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	.custom-select select::-ms-expand {
		display: none;
	}
	.custom-select select:focus {
		border-color: #aaa; /* Match-03 */
	}
	.custom-select select:focus::-ms-value {
		background: transparent;
		color: #222; /* Match-02*/
	}
	.custom-select select {
		padding-right: 2em; /* Match-01 */
		background: none; /* Match-04 */
		border: 1px solid transparent; /* Match-05 */
	}
	.custom-select::after {
		display: block;
	}
}